description = "Clients Page"
==
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a href="#">
                <img src="{{ 'assets/images/logos/envato.jpg'|theme }}" class="img-responsive img-centered" alt="">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#">
                <img src="{{ 'assets/images/logos/designmodo.jpg'|theme }}" class="img-responsive img-centered" alt="">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#">
                <img src="{{ 'assets/images/logos/themeforest.jpg'|theme }}" class="img-responsive img-centered" alt="">
            </a>
        </div>
		<div class="col-md-3 col-sm-6">
            <a href="#">
                <img src="{{ 'assets/images/logos/octobercms.png'|theme }}" class="img-responsive img-centered" alt="">
            </a>
        </div>
    </div>
</div>